<h1 style="font-size: 24px; color: #333;">All Imports</h1>

In [75]:
import os
import pandas as pd

<h1 style="font-size: 24px; color: #333;">Getting data and Determining its character</h1>

In [25]:
df = pd.read_csv('train_v2.csv')
df.describe()

       image_name           tags
count       40479          40479
unique      40479            449
top       train_0  clear primary
freq            1          13636

<h1 style="font-size: 24px; color: #333;">Finding null records and Fixing the fixable values</h1>

In [56]:
old_list = df['image_name'].unique()

#list of images names in the dataset

old_list = list(old_list)
len(old_list)

40479

In [57]:
#listing available images

image_extensions = ['.jpg'] 
new_list = []
for filename in os.listdir('train-jpg'):
    # Check if the file has an image extension
    if any(filename.lower().endswith(ext) for ext in image_extensions):
        name_without_extension = os.path.splitext(filename)[0]
        new_list.append(name_without_extension)

In [60]:
new_list.sort()
len(new_list)

40479

In [45]:
#now   shifting common elements to fine_list

In [61]:
fine_list = []

In [62]:
# Iterate through elements in new_list
for element in new_list:
    if element in old_list:  
        fine_list.append(element) 
        old_list.remove(element)   
new_list = [element for element in new_list if element not in fine_list]

In [66]:
len(fine_list)

40479

In [72]:
# new_list equal to the the old_list elements so no null elements in record and also no missing images too!

<h1 style="font-size: 24px; color: #333;">Creating a Model !</h1>